body{
    margin: auto;
}

.intestazione {
    height: 180px;
    background-color: rgb(0, 162, 255);
    background-image: url('img/pattern.png');
    background-repeat: repeat;
}

.logo{
    width: 300px;
    margin-top: 100px;
    padding: 8px;
}

h1{
    font-size: 50px;
    padding: 8px;
    margin: 0;
}

.autore-data{
    padding: 8px;
    width: 170px;
    color: lightgray;
}

.autore{
    color: rgb(0, 162, 255);
}

.data{
    font-size: 12px;
}


/* main */

.Tim-s-img{
    padding-left: 8px;
}


h6{
    margin: 0;
}

.importante{
    background-color: yellow;
}


table{
    width: 100%;
    border-spacing: 0;
}

thead{
    background-color: rgb(0, 162, 255);
}

thead > tr{
    color: white;
}

thead .descirzione{
    width: 50%;
}

tbody .colorata {
    background-color: turquoise;
}

footer{
    padding: 8px;
    text-align: center;
}
footer > div{
    width: 270px;
    height: 208px;
    background-image: url('img/monitor.jpg');
    background-size: cover;
}

footer > div > span{
    font-size: 25px;
    color: white;
    margin-top: 8px;
}


